@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-display: swap;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/inter-v13-latin_latin-ext-regular.woff2') format('woff2');
    }

    @font-face {
        font-display: swap;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        src: url('../fonts/inter-v13-latin_latin-ext-800.woff2') format('woff2');
    }

    p {
        @apply font-display;
    }
}
